<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvqdnrxz3rHldHLV9zYLfiMrKjQB3whT8</string>
	<key>GCM_SENDER_ID</key>
	<string>509788095788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muneshwers.dispatch</string>
	<key>PROJECT_ID</key>
	<string>dispatch-muneshwers</string>
	<key>STORAGE_BUCKET</key>
	<string>dispatch-muneshwers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509788095788:ios:1e8e94a826363cf5429889</string>
	<key>DATABASE_URL</key>
	<string>https://dispatch-muneshwers-default-rtdb.firebaseio.com</string>
</dict>
</plist>